# Ignorar virtual environment
backend/venv/

# Ignorar arquivos de cache do Python
backend/__pycache__/
backend/services/__pycache__/
backend/utils/__pycache__/

# Ignorar arquivos de configuração e logs
backend/.env
backend/app.log

# Ignorar dependências
backend/requirements.txt
requirements.txt

# Ignorar arquivos relacionados ao Docker
docker-compose.yml
Dockerfile

# Ignorar scripts
start.sh

# Ignorar o próprio Git
.git/
