/* Content */
#content {
    flex: 1;
    margin-left: 10%;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    padding: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
    overflow-y: hidden;
    color: white;
}

#config-ia {
	display: flex;
	flex-direction: column;
}

/* Responsive celular  */
@media (max-width: 800px) {
/* Content */
#content {
    margin-left: 0%;
    margin-top: 20%;
}

}