<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Chat - Mentoria Católica</title>
    
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- Getbootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Css da pagina-->
    <link rel="stylesheet" href="../static/css/styles-help.css">
    <!-- Css padrão - Padrão, Siderbar e Footer -->
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/styles-standard-siderbar.css">
    <link rel="stylesheet" href="../static/css/styles-standard-footer.css">

</head>

<body>
    <div id="container">
        <!-- JS para ativar e desativar o menu e indicar a opção escolhida -->
        <script src="../static/javascript/sidebarMenu.js"></script>

        <!-- Content Ajuda -->
        <div id="content">
            <div class="help-container">
                <!-- Contatos da Empresa -->
                <h1>Contatos da Empresa</h1>
                <div class="contact">
                    <p>
                        <strong>Telefone:</strong> (11) 1234-5678 <br>
                        <strong>Celular:</strong> (11) 98765-4321 <br>
                        <strong>E-mail:</strong> contato@empresa.com <br>

                        <strong>Endereços:</strong>

                    <ul class="list-address">
                        <li>SGAS 913 Bloco A, Sala 101 - Asa Sul, Brasília, DF, 70200-000</li>
                        <li>CLS 403 Bloco B, Loja 11 - Asa Sul, Brasília, DF, 70330-000</li>
                        <li>SQWN 107 Bloco D, Lote 1 - Núcleo Bandeirante, Brasília, DF, 72210-000</li>
                        <li>QI 9 Bloco D, Lote 1 - Lago Sul, Brasília, DF, 71625-000</li>
                        <li>SCLRN 703 Bloco J, Lote 2 - Asa Norte, Brasília, DF, 70740-000</li>
                    </ul>

                    </p>
                </div>

                <!-- Perguntas Frequentes (FAQ) -->
                <h1>Perguntas Frequentes (FAQ)</h1>
                <div class="faq">
                    <ul class="list-faq">
                        <li>
                            <h3>Quais planos de internet vocês oferecem?</h3>
                            <p>
                                Oferecemos uma variedade de planos de internet com diferentes velocidades e preços para
                                atender às
                                suas necessidades. Confira nosso site para detalhes sobre cada plano. Clica aqui para
                                ver os
                                planos.
                            </p>
                        </li>
                        <br>
                        <li>
                            <h3>Como posso contratar um plano de internet?</h3>
                            <p>
                                Você pode contratar um plano diretamente em nosso site, ligando para o nosso atendimento
                                ao
                                cliente,
                                ou visitando uma de nossas lojas físicas.
                            </p>
                        </li>
                        <br>
                        <li>
                            <h3>Existe taxa de instalação?</h3>
                            <p>
                                Na primeira instalação não será cobrado. Porém, caso você solicite uma nova instalação,
                                cobramos
                                uma taxa de instalação que varia de acordo com o plano escolhido. Confira os detalhes na
                                hora da
                                contratação.
                            </p>
                        </li>
                        <br>
                        <li>
                            <h3>Como posso cancelar meu serviço?</h3>
                            <p>
                                Para cancelar seu serviço, entre em contato com nossa equipe de atendimento ao cliente
                                pelo
                                telefone
                                ou e-mail. Estaremos prontos para ajudar você no processo.
                            </p>
                        </li>
                        <br>
                        <li>
                            <h3>O que devo fazer se minha internet estiver lenta?</h3>
                            <p>
                                Se a sua internet estiver lenta, recomendamos que você reinicie seu modem. Se o problema
                                persistir,
                                entre em contato com o nosso Chat-Bot Brii, caso o problema persista com o nosso suporte
                                técnico
                                para assistência.
                            </p>
                        </li>
                        <br>
                        <li>
                            <h3>Vocês oferecem suporte técnico?</h3>
                            <p>
                                Sim, oferecemos suporte técnico 24 horas por dia, 7 dias por semana. Você pode entrar em
                                contato
                                conosco por telefone, e-mail ou nossa com o nossa Chat-Bot Brii.
                            </p>
                        </li>
                        <br>
                        <li>
                            <h3>Como posso mudar meu plano de internet?</h3>
                            <p>
                                Você pode mudar seu plano a qualquer momento entrando em contato com o nosso atendimento
                                ao
                                cliente
                                ou através da sua área do cliente em nosso site.
                            </p>
                        </li>
                        <br>
                        <li>
                            <h3>Quais formas de pagamento vocês aceitam?</h3>
                            <p>
                                Aceitamos diversas formas de pagamento, incluindo cartão de crédito, débito automático,
                                boleto
                                bancário, transferência bancária e PIX.
                            </p>
                        </li>
                        <br>

                        <li>
                            <h3>Há limite de dados nos planos?</h3>
                            <p>
                                Nossos planos variam em relação ao limite de dados. Alguns planos oferecem dados
                                ilimitados,
                                enquanto outros têm limites mensais. Verifique as informações específicas do plano
                                escolhido.
                            </p>
                        </li>
                        <br>
                        <li>
                            <h3>O que fazer em caso de falta de sinal?</h3>
                            <p>
                                Se você estiver sem sinal, verifique se o seu modem está ligado e corretamente
                                conectado. Se
                                o
                                problema continuar, entre em contato com o nosso Chat-Bot Brii e caso persiste o
                                problema
                                contato o
                                suporte técnico para que possamos investigar a situação.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Rodapé -->
    <script src="../static/javascript/footer.js"></script>
    <!-- Interações da Página -->
    <script src="../static/javascript/page-interactions.js"></script>

</body>

</html>